.main-content {
  width: 70%;
  margin: 0px auto;
}

hr {
  margin-bottom: 32px;
}

.first-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-name {
  font-size: 24px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.first-box p {
  width: 75%;
}

.second-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 64px;
}

.second-box img {
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .menu-option {
    font-size: 13px;
  }

  .main-content {
    width: 100%;
  }

  h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .first-box, .second-box {
    flex-wrap: wrap;
  }

  .first-box p {
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }

  .second-box {
    margin-top: 0px;
  }

  .second-box img {
    margin-top: 20px;
  }
}