@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header-menu {
  background-color: #1D2D44;
  padding: 0px 20px;
  display: flex;
}

.menu-option {
  position: relative;
  text-decoration: none;
  color: rgba(255,255,255,.93);
  padding: 20px 12px;
}

.menu-option::after {
  content: " ";
  position: absolute;
  background: rgba(255,255,255,.7);
  height: 3px;
  width: 80%;
  left: 0;
  bottom: 10px;
  margin-left: 10%;
  background: transparent;
  transition-property: background;
  transition-duration: .4s;
}

.menu-option:hover::after {
  content: " ";
  position: absolute;
  background: rgba(255,255,255,.7);
  height: 3px;
  width: 80%;
  left: 0;
  bottom: 10px;
  margin-left: 10%;
}

.menu-option.active::after {
  content: " ";
  position: absolute;
  background: rgba(255,255,255,.93);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 10px;
  margin-left: 0px;
}

.header-img {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url('/photos/developer-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgba(255,255,255,.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-img h1 {
  font-size: 64px;
  color: white;
}

h3 {
  text-align: center;
  font-size: 28px;
  position: relative;
  margin-bottom: 0px;
}

.divider {
  display: block;
  width: 32px;
  height: 3px;
  background-color: rgba(0, 0, 0, .4);
  margin: 24px auto;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-link {
  height: 100px;
  width: 100px;
}

.projects a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  width: 100px;
  padding: 20px 40px;
  border-radius: 4px;
  transition-property: box-shadow, transform;
  transition-duration: .5s;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.projects a:hover {
  background: white;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  transform: scale(10%);
}

.projects a p {
  text-align: center;
}

#react {
  background: url('/photos/react-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-asst {
  background: url('/photos/download.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#react-native {
  background: url('/photos/react-native.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 60%;
  margin: 0px auto;
}