@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header-menu {
  background-color: #1D2D44;
  padding: 0px 20px;
  display: flex;
}

.menu-option {
  position: relative;
  text-decoration: none;
  color: rgba(255,255,255,.93);
  padding: 20px 12px;
}

.menu-option.active::after {
  content: " ";
  position: absolute;
  background: rgba(255,255,255,.93);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 10px;
}